header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
}
header .page_Title {
    flex-basis: 50%;
    text-align: left;
    padding-left: 3rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
    color: white;
    text-shadow: .2rem .2rem rgb(0, 0, 0);
}
.projects_Container {
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:flex-start;
    align-items: center;
    width: 95vw;
    height: auto;
}
.link_Visibility {
    flex-basis: 50%;
    display: block;
    text-align: right;
    padding-right: 2rem;
}
.button_Back_Menu {
    width: 20vw;
    height: 3rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1rem;
    margin-top: .5rem;
    color: white;
    border: 1px solid black;
    background-color: black;
}
.button_Back_Menu:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: white;
    color: black;
}
.button_Back_Menu_Lower_Container {
    display: inline-block;
    width: 80%;
    height: 3rem;
    margin-left: calc(10%);
    margin-bottom: 1rem;
}
.button_Back_Menu_Button {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1rem;
    color: white;
    border: 1px solid black;
    background-color: black;
} 
.button_Back_Menu_Button:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: white;
    color: black;
}
.project_Card {
    margin: 0 auto;
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 3rem;
}
.project_Card_left_container {
    flex-basis: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: rgba(119, 117, 117, 0.4);
    border: 2px solid rgba(255,156, 0, 0.3); 
    border-radius: 4rem 4rem 0 0;
    box-shadow: .8rem .8rem .8rem rgb(0, 0, 0, .8);
    backdrop-filter: blur(.5rem);
}
.title_Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.project_Card_left_container .title_p_Label {
    flex-basis: 40%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
    text-shadow: .3rem .3rem .3rem black;
}
.project_Card_left_container .title_span_Text {
    flex-basis: 60%;
    display: block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: rgba(5, 18, 28, 0.6);
    text-shadow: .2rem .2rem rgb(0, 0, 0);
}
.description_Container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    height: auto;
    padding-top: 1rem;
}
.project_Card_left_container .description_p_Label {
    flex-basis: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
    padding-bottom: 1rem;
    /* text-shadow: .3rem .3rem .3rem rgb(152, 150, 150); */
    text-shadow: .3rem .3rem .3rem black;
}
.project_Card_left_container .description_span_Text {
    flex-basis: 100%;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    color: white;
    padding: .5rem;
    padding-bottom: 2rem;
    background-color: rgba(0,0,0, .4);
}
.tech_Container {
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    padding-top: 1rem;
}
.project_Card_left_container .tech_p_Label {
    flex-basis: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
    padding-bottom: 1rem;
    text-shadow: .3rem .3rem .3rem black;
}
.project_Card_left_container .tech_span_Text {
    flex-basis: 100%;
    font-size: 1.5rem;
    font-size: 200;
    line-height: 2rem;
    color: white;
    padding: .5rem;
    padding-bottom: 2rem;
    background-color: rgba(0,0,0, .4);
}
.backrepo_Container {
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
}
.project_Card_left_container .backrepo_p_Label {
    width: 100%;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
    padding-bottom: 1rem;
    text-shadow: .3rem .3rem .3rem black;
}
.backrepo_Container .link_External {
    margin: 0 auto;
    width: 100%;
    height: 1.7rem;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.7rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem;
    padding-bottom: 2rem;
    cursor: pointer;
    text-shadow: .1rem .1rem .1rem black;
    background-color: rgba(0,0,0, .4); 
}
.frontrepo_Container {
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    padding-top: 1rem;
}
.project_Card_left_container .frontrepo_p_Label {
    width: 100%;
    height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
    text-shadow: .3rem .3rem .3rem black;
}
.frontrepo_Container .link_External {
    margin: 0 auto;
    width: 100%;
    height: 1.7rem;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.7rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
    padding-bottom: 2rem;
    cursor: pointer;
    text-shadow: .1rem .1rem .1rem black;
    background-color: rgba(0,0,0, .4);
}    
.frontdeploy_Container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 90%;
    height: auto;
    padding-top: 1rem;
}
.project_Card_left_container .frontdeploy_p_Label {
    flex-basis: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: white;
    text-shadow: .3rem .3rem .3rem black;
}
.frontdeploy_Container .link_External {
    margin: 0 auto;
    width: 100%;
    height: 1.7rem;
    text-align: left;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 1.7rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
    padding-bottom: 2rem;
    cursor: pointer;
    text-shadow: .1rem .1rem .1rem black;
    background-color: rgba(0,0,0, .4);    
}
.project_Card_right_container {
    padding-top: 3rem;    
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 4rem 4rem;
    background-color: rgba(119, 117, 117, 0.2);
}
.video_Container {
    margin: 0 auto;
    width: 98%;
    max-width: 300px;
    height: 18rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
} 
@media screen and (min-width: 990px) {
    header {
        background-color: transparent;
    }
    .projects_Container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 8rem;
        justify-content:flex-start;
        align-items: center;
        width: 100%;
        height: 83vh;
        overflow-y:scroll;
        margin-top: 1rem;
    }
    .button_Back_Menu_Lower_Container {
        display: none;
    }    
}