@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@100;200;300;400;500;600;700&family=Orbitron&display=swap");

:root {
  --darkGrey: #383636;
  --pureBlack: #000000;
  --justWhite: #ffffff;
  --border: orange;

  --PageTitleColor: rgb(161, 158, 158);
  --GithubLinkColor: rgb(210, 149, 17);
  --GithubLinkMobileColor: rgb(237, 201, 124);

  /* Esquema de Colores */
  --ColorTotalDark: #000000;
  --ColorDarkBlue: #090c9b;
  --ColorMediumBlue: #3066be;
  --ColorMediumBlueTransparent: rgba(48, 102, 190, 0.1);
  --ColorBlueShadow: rgba(9, 12, 155, 0.3);
  --ColorLightBlue: #b4c5e4;
  --ColorLight: #fbfff1;
  --ColorTotalLight: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  font-size: 62.5%;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}
body {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  background-color: var(--ColorTotalDark);
  /* background-color: var(--ColorTotalDark); */
  /* background-image: url('./images/FCGrande.jpg');
    background-position:left;
    background-repeat:repeat;
    background-size:auto; */
}
.footer_Container {
  display: none;
}
@media SCREEN and (min-width: 990px) {
  html {
    width: 100vw;
    /* height: 100vh; */
    min-height: 100vh;

    font-size: 62.5%;
    font-family: "Fira Sans Extra Condensed", sans-serif;
  }
  body {
    position: relative;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    background-color: var(--ColorTotalDark);
    /* background-image: url('./images/FCGrande.jpg');
        background-position:left;
        background-repeat: norepeat;
        background-size: cover; */
    /* border: 2px solid white; */
  }
  .footer_Container {
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0rem;
    left: 0px;
    display: flex;
    position: absolute;
    border: 1px solid var(--ColorTotalDark);
    background-color: var(--ColorTotalDark);
  }
  ol {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
  }
  Link {
    text-decoration-line: none;
    text-decoration: none;
  }
  button {
    /* background-color: var(--ColorMediumBlue); */
    background-color: var(--ColorMediumBlueTransparent);
    /* background-color: rgb(17, 12, 12); */
    width: 150px;
    height: 2.5rem;
    color: var(--ColorLightBlue);
    text-align: center;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    /* text-shadow: .2rem .2rem var(--ColorTotalDark); */
    border-radius: 0.4rem;
    border: none;
  }
  button:hover {
    background-color: var(--ColorDarkBlue);
    color: var(--ColorLightBlue);
    text-shadow: none;
    cursor: pointer;
    transform: scale(0.8);
    transition: 400ms;
  }
}
